body {
  background-color: rgb(134, 180, 224);
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 11px;
}

#bgImg {
  pointer-events: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .material-icons {
    color: black;
    }

  li {
    color: black;
  }

.p1 {
  margin: auto;
  background-color: rgb(6, 72, 133);;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  text-shadow: 10px;
}

.card-content {
  font-size: 18px;
  font-weight: 400;
  background-color: whitesmoke;
}

.component__weather-box {
  margin: 30px auto;
  width: 340px;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 5px 20px 1px #444;
}

.component__weather-content {
  position: relative;
  overflow: hidden;
  color: #fff;
  background: rgb(6, 72, 133);
  height: 120px;
}

.component__weather-content:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.3;
  background-image: url("https://nunnz.files.wordpress.com/2013/11/4.jpg");
  background-repeat: no-repeat;
  background-position: 0 63%;
  background-size: cover;
}

.weather-content__overview {
  width: 50%;
  text-align: center;
  display: inline-block;
  float: left;
  z-index: 2;
  position: relative;
}

h1 {
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 0.75em;
}

.weather-content__temp {
  width: 50%;
  z-index: 2;
  text-align: center;
  float: left;
  font-size: 50px;
  text-align: center;
  margin-top: 0.5em;
  position: relative;
  vertical-align: middle;
}

.weather-content__temp .degrees {
  line-height: 40px;
}

.weather-content__temp .wi-degrees {
  margin-left: -10px;
  vertical-align: top !important;
}

.currentTemp .wi {
  margin-right: 20px;
  font-size: 40px;
  vertical-align: baseline;
}

.component__forecast-box {
  display: flex;
  clear: both;
}

.forecast__item {
  flex: 1;
  text-align: center;
}

.forecast-item__heading {
  background: rgb(6, 72, 133);
  border: 1px solid black;
  border-left: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 800;
  padding: 10px;
}

.forecast-item__info {
  background: #fff;
  color: black;
  padding-bottom: 10px;
  border-right: 1px solid #d64826;
}

.forecast-item__info .wi {
  display: block;
  margin: 0 auto;
  font-size: 24px;
  padding: 15px 0;
}

.forecast-item__info .degrees {
  font-size: 20px;
  line-height: 20px;
}

.forecast-item__info .degrees .wi-degrees {
  display: inline;
}

small {
  font-size: 12px;
}

#map {
  height: 500px;
  width: 100%;
}
